.search-box-wrapper {
    margin: 0 30px;
    background-color: #c9bae5;
}

.search-box {
    padding: 0 10px;
    outline: none;
    background-color: inherit;
    line-height: inherit;
    border: none;
}